.keyword {
    -fx-fill: #C54049;
    -fx-font-weight: bold;
}
.method {
    -fx-fill: #6A43C0;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: #19559E !important;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: #2F414C !important;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: #2F414C !important;;
    -fx-font-weight: bold;
}
.string {
    -fx-font-weight: bold;
    -fx-fill: #36794D;
}
.comment {
	-fx-fill: #6F7275;
}
.operator {
	-fx-fill: #19559E;
	-fx-font-weight: bold;
}


.paragraph-box:has-caret {
    -fx-background-color: #FFFAE3;
}

.styled-text-area {
    /* set the entire area's font size to the given size */
    -fx-font-family: consolas;
    -fx-font-size: 14px;
    -fx-line-spacing: 10px;
    -fx-border-color: #E1E1E1;
    -fx-border-width: 1 0 0 0;
}

.styled-text-area .selection {
    -fx-fill: #F7A36F;
    -fx-stroke-width: 0;
}

