.button {
    -fx-font-weight: bold;
}

.custom-dashed-border {
    -fx-border-color: #D2D2D2 ;
    -fx-border-width: 2 ; 
    -fx-border-style: segments(8, 8, 8, 8)  line-cap round ;
}

.button-browse{
    -fx-background-color: #007BCC;
    -fx-text-fill: #FFFFFF;
}

.status-bar{
   -fx-background-color: #007BCC;
    -fx-text-fill: #FFFFFF; 
}

.progress-indicator {
    -fx-progress-color: white ;
    
}
.progress-indicator .spinner {
    -fx-background-color: transparent ;

}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #6622CC; 
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
}

