
.button {
    -fx-font-weight: bold;
}

.button-browse{
    -fx-background-color: #007BCC;
    -fx-text-fill: #FFFFFF;
}

.status-bar{
   -fx-background-color: #007BCC;
    -fx-text-fill: #FFFFFF; 
}

.progress-indicator {
    -fx-progress-color: white ;
    
}
.progress-indicator .spinner {
    -fx-background-color: transparent ;

}

/*Table tree*/

.tree-table-view{
    -fx-border-color: transparent;
}
.tree-table-view .column-header,
.tree-table-view .column-header-background .filler {
    -fx-background-color:  #007BCC; 
    -fx-border-color: transparent;
        
}
.tree-table-view .column-header .label{
   -fx-text-fill: #FFFFFF;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER;
}

.tree-table-row-cell:selected,
.tree-table-row-cell:selected:odd{
   -fx-background-color: #ddefff; 
   -fx-border-color: transparent;
   -fx-text-background-color: #007BCC;
   -fx-font-weight: bold;
   -fx-background-insets: 1;
}

.tree-table-view *.increment-button,
.tree-table-view *.decrement-button,
.tree-table-view *.increment-arrow,
.tree-table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

.table-view{
    -fx-border-color: transparent;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #007BCC;
    -fx-border-color: transparent;

}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #F9F9F9;
    -fx-background-insets: 0, 1 0 1 0;
}

.table-view .column-header .label{
   -fx-text-fill: #FFFFFF;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;
}

.table-row-cell:selected {
   -fx-background-color: #ddefff;
   -fx-border-color: transparent;
   -fx-text-background-color: #007BCC;
   -fx-font-weight: bold;
   -fx-background-insets: 0, 0 0 0 0;
}

.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

.card {
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;

	-fx-padding: 16 16 16 16;
	-fx-border-color: #E1E1E1;
	-fx-border-radius: 4;
}

.indicator {
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;
	-fx-border-color: #E1E1E1;
	-fx-border-radius: 4;
}

.card-title {
    -fx-font-family: 'Open Sans';
	-fx-font-size: 12.0px;
	-fx-padding: 5 0 5 0;
}

.card-title .text {
	-fx-fill: rgb(45, 45, 45);
}

.code{
	-fx-background-color: rgb(255.0, 255.0, 255.0);
	-fx-background-radius: 4.0;
	-fx-border-radius: 4;
	-fx-border-color: #E1E1E1;
}

.containerUML{
     -fx-background-color: white;
     -fx-border-color: #E1E1E1;
     -fx-background-radius: 4.0;
     -fx-border-radius: 4;
}
.containerClass{
     -fx-background-color: white;
     -fx-background-radius: 4.0;

}
.containerMethod{
     -fx-background-color: white;
     -fx-background-radius: 4.0;
     -fx-border-color: #E1E1E1;
     -fx-border-style: solid none none none;
}

.className{
    -fx-font-family: 'Open Sans';
	-fx-font-size: 14.0px;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}

.classType{
    -fx-font-family: 'Open Sans';
	-fx-font-size: 12.0px;
	-fx-padding: 0 5 0 5;
}

.errorList{
     -fx-background-color: white;
     -fx-border-color: #E1E1E1;
     -fx-background-radius: 4.0;
     -fx-border-radius: 4;
     -fx-padding: 10 10 10 10;
}
.errorListName{
    -fx-font-family: 'Open Sans';
	-fx-font-size: 14.0px;
	-fx-text-fill: #323232;
	-fx-font-weight: bold;
	-fx-padding: 0 10 0 10;
}
.errorListLocations{
    -fx-font-family: 'Open Sans';
	-fx-font-size: 12.0px;
	-fx-font-style: italic;
	-fx-text-fill: #676767;
	-fx-padding: 0 10 0 10;
}
.errorListMessage{
    -fx-font-family: 'Open Sans';
	-fx-font-size: 12.0px;
	-fx-text-fill: #F44336;
	-fx-padding: 0 10 0 10;
}
.jfx-list-cell:selected  {
    -fx-background-color:  #F6F8FA;
}
.jfx-list-cell:odd  {
    -fx-background-color:  #F6F8FA;
}
.jfx-list-cell:even  {
    -fx-background-color:  #F6F8FA;
}

